
@import 'includes/reset';

body {
	background: #ccc;
}

#game {
	font-family: Arial;
	font-size: 11px;
	margin: 2% auto;
	background: #000;

	canvas {
		width: 900px;
		height: 350px;
		background: #fff;
		margin: 0 auto;
	}
}
